.projects {
  background-color: #FFD47A;
  width: 100%;
  color: white;
  text-align: center;
  height: 100vh;
}

.projects h1 {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-weight: 800;
  margin-top: 5vh;
  font-size: 50px;
}

.projects h3 {
  font-size: 28px;
  font-weight: 800;
  font-family: 'Inconsolata', monospace;
}

.project-gallery {
  margin-top: 7vh;
}

.project a img {
  width: 20vw;
  height: auto;
}

.project a h3 {
  color: white;
}


