.login {
  background-color: #45516E;
  /* padding: 10px; */
  width: 70%;
  height: 70%;
  margin-top: 100px;
  border-radius: 10px;
}

.login-button-container {
  padding-top: 30%;
  width: 80%;
  font-family: 'Inconsolata', monospace;
  color: #ECECEC;
}

.login-button-container h1 {
  text-align: center;
  
}

.login-button {
  width: 100% !important;
}

@media only screen and (max-width: 780px) {
  .login-button-container {
    padding-top: 20%;
  }
  .login {
    width: 80%;
    height: 70%;
    margin-bottom: 80px;
  }
}